/* .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    background: rgb(33 150 243 / 0%);
    color: rgb(255, 255, 255) !important;
    border: 2px solid white !important;

} */
.vertical-timeline.vertical-timeline--two-columns:before {
  background-color: #000000;
}
.vertical-timeline--two-columns .vertical-timeline-element-content {
  background: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.vertical-timeline--two-columns .vertical-timeline-element-content {
  background: rgb(33 150 243 / 0%);
  color: rgb(0, 0, 0);
  border: 2px solid #00000000;
  padding: 0px;
  
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 25px;
    height: 25px;
    left: 50%;
    margin-left: -15px;
    background: rgba(0, 0, 0, 0);
    color: #000000 !important;
    border: 2px solid #000000 !important;
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    margin-top: 8px !important;
    width: 25px;
    height: 25px;
    left: 1%;
  }
}

@media (max-width: 1169px) {
  .vertical-timeline::before {
    height: 100%;
    width: 2px;
    background: var(--line-color);
  }
}
@media (min-width: 1170px) {
  .vertical-timeline::before {
    height: 100%;
    width: 2px;
    background: var(--line-color);
  
  }
}
.borderr {
  border-bottom: 0.45vh solid #000000 !important;
}
.mrgnBottom {
  margin-bottom: -41px !important;
}
.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #000, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
  box-shadow: 0 0 0 4px rgb(0, 0, 0), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
}
.vertical-timeline-element-content {

  /* border-radius: .25em; */
 
  -webkit-box-shadow: 0 3px 0 rgba(221, 221, 221, 0);
  box-shadow: 0 3px 0 #fff0 !important;
}


.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: .25em;
  padding: 0em;
  margin-top: 0px;
  -webkit-box-shadow: 0 3px 0 #ddd;
  box-shadow: 0 3px 0 #ddd;
}
.vertical-timeline-element-content-arrow {

  border: 0px solid transparent;

}
.vertical-timeline-element-content p {
  margin: 0em 0 0;
  line-height: 1.6;
}
