.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #131d30 ;
  color: white;
  padding: 25px 0px 20px 0px !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #131d30 ;
  color: white;
  padding: 20px 0px 20px 0px !important;
  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
}
.accordion-body {
  padding: 1rem 1.25rem;
  background-color: #131d30 ;
  color: #aeaeae;
  padding: 20px 0px 20px 0px !important;
  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
}
.accordion-item {
  background-color: #fff;
  border-top: 0px solid #aeaeae !important;
  border-bottom: 1px solid #aeaeae !important;
  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";

  background-image: url(./Img/plus.png) !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./Img/Line\ 24.png) !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b6fe00 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}
