.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 8px !important;
  background-color: #131d30 ;
  color: rgb(0, 0, 0);
}
.accordion-item:first-of-type .accordion-button {
 
  background-color: #ffffff !important;
  color: rgb(0, 0, 0);

  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
  border-radius: 8px !important;
}
.accordion-body {
  padding: 1rem 1.25rem;
  background-color: #F6EDD1 !important;
  color: #aeaeae;
  padding: 20px !important;
  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
}
.accordion-item {
  background-color: #F6EDD1;
  border-top: 0px solid #aeaeae !important;
  border-bottom: 0px solid #aeaeae !important;
  border-left: 0px solid #aeaeae !important;
  border-right: 0px solid #aeaeae !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";

  background-image: url(./Img/plus.png) !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./Img/Line-24.png) !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b6fe00 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}
