.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}



.defaultheader .logo {
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  max-width: 45% !important;
}




.defaultheader .link {
  color: #000000 !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}
.defaultheader {
  background-color: transparent;
  padding-top: "100px" !important;
  margin-bottom: -130px;
  z-index: 1020
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 20px !important;
}
.navbar-light .navbar-toggler {
  float: right !important;
}
.navbar-light .navbar-toggler {
  background-color: transparent;
  border-style: none !important;
}

@media (max-width: 989px) {
  .navbar-nav {
    position: absolute;
    background-color: #ffffff;

    padding-top: 120px;
    padding-bottom: 20px;
    width: -webkit-fill-available;
    margin-top: -40px;
    left: 0;
    z-index: -1;
  }
}
