@font-face {
  font-family: "Chococooky";
  src: local("Chococooky"),
    url("./Font/Chococooky.ttf") format("truetype");
}
@font-face {
  font-family: "Cooljazz";
  src: local("Cooljazz"),
    url("./Font/Cooljazz.ttf") format("truetype");
}
@font-face {
  font-family: "NftOpensea";
  src: local("NftOpensea"),
    url("./Font/NftOpenseaRegular-jEJvR.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuMono-Bold";
  src: local("UbuntuMono-Bold"),
    url("./Font/UbuntuMono-Bold.ttf") format("truetype");
}
